.gsd-keyboard.settings-ported
Android Open Source Project/
Docker Desktop/
GNOME-xdg-terminals.list
Google/
Pinta/
Postman/
QtProject.conf
VSCodium/
YouTube Music/
caddy/
calibre/
cef_user_data/
chromium/
cni/
coc/
configstore/
dconf/
dleyna-renderer-service.conf
emacs/
eog/
evolution/
generate-config/
gnome-boxes/
gnome-control-center/
gnome-initial-setup-done
gsconnect/
htop/
hypr/
ibus/
katemetainfos
katerc
katevirc
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
knfsshare
kritadisplayrc
kritarc
layman/
libreoffice/
libvirt/
menus/
mimeapps.list
mono.addins/
nautilus/
neofetch/
new_nvim/
nvim.bak/
nvim.new/
nvim.tar.gz
obs-studio/
pavucontrol.ini
pop-shell/
protonvpn/
pulse/
rustdesk/
sway/
systemd/
teamviewer/
test_nvim/
toolbox/
torbrowser/
transmission-daemon/
transmission/
user-dirs.dirs
user-dirs.locale
via-nativia/
vlc/
xdg-terminals.list
rofi/config.rasi
syncthing/
keepassxc/ 
autostart/ 
protonmail/ 
